// -------------------
// font loading
// -------------------
@font-face
  font-family Grifo-Bold
  font-style normal
  src url(assets/fonts/fonts/Grifo-Bold.woff)

@font-face
  font-family Grifo-Bold-Italic
  font-style normal
  src url(assets/fonts/fonts/Grifo-Bold-Italic.woff)

@font-face
  font-family Grifo
  font-style normal
  src url(assets/fonts/fonts/Grifo-Regular.woff)

@font-face
  font-family Moderat-Bold
  font-style normal
  src url(assets/fonts/fonts/Moderat-Bold.woff)

@font-face
  font-family Moderat
  font-style normal
  src url(assets/fonts/fonts/Moderat-Regular.woff)

fontify($canela, $canela-hash, $serif-hed-fb)
fontify($publico, $publico-hash, $serif-fb)
fontify($atlas, $atlas-hash, $sans-fb)

set-type-class(all, true)
