// -------------------
// Breakpoints
// -------------------
//$mq_vars = {
//    bp-2: '(min-width: 20em)' // 320px
//    bp-3: '(min-width: 30em)' // 480px
//    bp-4: '(min-width: 40em)' // 640px
//    bp-5: '(min-width: 50em)' // 800px
//		bp-6: '(min-width: 60em)' // 960px
//}
$mq_vars = {
    bp-2: '(min-width: 25em)' // 400px
    bp-3: '(min-width: 40em)' // 640px
    bp-4: '(min-width: 55em)' // 880px
    bp-5: '(min-width: 65em)' // 1040px
	bp-6: '(min-width: 90em)' // 1440px
	bp-7: '(min-width: 120em)' // 192px
}

// -------------------
// Typefaces
// -------------------
$canela = 'Canela Web'
$canela-hash = 'canela'
$publico = 'Publico Text Web'
$publico-hash = 'publico'
$atlas = 'Atlas Grotesk Web'
$atlas-hash = 'atlas'

$sans-fb = Helvetica, Arial, sans-serif
$sans = $atlas, $sans-fb
$serif-fb = Georgia, Times, serif
$serif = $publico, $serif-fb
$serif-hed-fb = 'Times New Roman', serif
$mono = Menlo, Consolas, Monaco, 'Courier New', monospace

// z-index
$z-index = {
    bottom: -100
    middle: 0
    top: 100
    overlay: 1000
}

// Spacing
$spacing-base = 1rem;
$spacing-x-small = $spacing-base / 4;
$spacing-small = $spacing-base / 2;
$spacing-medium = $spacing-base * 1.5;
$spacing-large = $spacing-base * 2;
$spacing-x-large = $spacing-base * 2.5;
$spacing-xx-large = $spacing-base * 6;


// Color
$black = #000
$white = #fdfdfc
$off-black = #282828
$gray-dark = #5b5b5b
$gray = #969696
$gray-light = #c9c9c9
$off-white = #f4f4f4

$bg = #fff
$fg = $off-black
$primary= #f33
$icon-color = #e05b43
$column-width = 40rem

$type-size = {
    xxx-small: {
        size: 10px,
        line-height: 1.5,
    }
    xx-small: {
        size: 11px,
        line-height: 1.5,
    }
    x-small: {
        size: 12px,
        line-height: 1.5
    }
    small: {
        size: 16px,
        line-height: 1.5
    }
    root: {
        size: 16px,
        line-height: 1.5
    }
    medium: {
        size: 20px,
        line-height: 1.5
    }
    large: {
        size: 24px,
        line-height: 1.5
    }
    x-large: {
        size: 32px,
        line-height: 1.5
    }
    xx-large: {
        size: 40px,
        line-height: 1.2
    }
    xxx-large: {
        size: 48px,
        line-height: 1.2
    }
    xxxx-large: {
        size: 64px,
        line-height: 1
    }
    xxxxx-large: {
        size: 80px,
        line-height: 1
    }
}
$width-large= 80rem
$width-small= 25rem
$transition-base= 0.2s ease-in-out all
$font-weight-normal= 400
$font-weight-bold= 700
$font-family-display= "Grifo" $serif-fb
$font-family-grifo-bold = "Grifo-Bold", "Georgia", "Times", "Times New Roman", serif;
$bg-color-secondary= #f3f2ee
$font-family-moderat = "Moderat", "Helvetica Neue", "Helvetica", sans-serif;
