header
	align-items center
	display flex
	flex-wrap wrap
	justify-content space-between
	padding 1rem $spacing-large
	width calc(100% - 16px);
	height 73px
	position fixed
	top $spacing-small
	background-color #fdfdfc
	z-index 100
	& .site-header svg
		height 40px
		width 209px
    &.black
		background-color black
		.site-header svg
			#Group-3 path
				fill white

