#speech-text-2, #speech-text-4, #speech-text-5
  .btn--div
    opacity 0.6
    pointer-events none
    &.active
      opacity 1
      pointer-events auto
#speech-text-6
  .hero__content
    z-index 100
