#speech-2, #speech-4, #speech-5
  .btn--div
    opacity 1
    //pointer-events none
    //&.active
    //  opacity 1
    //  pointer-events auto
#speech-6
  .hero__content
    z-index 100
#speech-3 .hero__media
  figure img
    width 80%
