#speech-2, #speech-4, #speech-5
  .btn--div
    opacity 1
    //pointer-events none
    //&.active
    //  opacity 1
    //  pointer-events auto
#speech-3 .hero__media
  figure img
    width 80%

#speech-5
  .hero__img
    display inline-block
    &.hide
      display none
  .videoElem
    display none
    &.show
      display inline-block

  #speech-5__btn-1
    opacity 0.5
    pointer-events none
    &.active
      opacity 1
      pointer-events auto


