#start-3
  .spacer
    height 73px
#start-1
  position relative
  background-color black
  color $white
  flex-direction row-reverse
  //+mq('bp-5')
  //  flex-direction row-reverse
  .card-sci-start-img-container
    position fixed
    top 4.5rem
    left 0px
    width 100%
    +mq('bp-4')
      width 50%

    .start-img-container
      width 100%
      height auto
      z-index 1001
  .card--btn
    margin-bottom 12rem
    +mq('bp-5')
      margin-bottom 20rem

  .start1-step
    margin-top 65vh
    margin-bottom 15vh
    background-color black
    color $white
    +mq('bp-4')
      margin-top 40vh
      margin-bottom 50vh
    .card-sci-start__p
      text-align center
      font-family $font-family-grifo-bold
      set-type-size('large', true)
      opacity 0.3
      transition 2s ease-in-out
      &.active
        opacity 1

  #step-0 .card-sci-start__p
    set-type-size('xx-large', true)
    +mq('bp-5')
      font-size 70px


  .card-sci-btn-container
    margin 5rem 0
    .card-sci-btn
      background-color black
      p
        color $white

#start-2
  .card--btn
    background-color black
    p
      color $white
