.visual-info-tip
  margin 0
  display none
  &.active
    margin 0.5rem 0rem
    display inline-block

#visual-0, #music-0, #speech-0
  img
    animation 1s imageScale ease-in-out

@keyframes imageScale{
  from { transform: scale(2);}
  to { transform: scale(1); }
}
.card-sci
  .videoElem
    margin-bottom 0.5rem
    max-height 72vh

#visual-2, #visual-3, #visual-4, #visual-5, #visual-6
  .btn--div
    opacity 0
    pointer-events none
    cursor: not-allowed
    &.active
      opacity 1
      pointer-events auto
      cursor pointer
//.disactive
//  opacity: 0.3
//  pointer-events none
