<a href='#content' class='skip-to-main'>Skip to main content</a>

<header class='{{#ifEquals this 'sticky'}}is-sticky{{/ifEquals}}{{#ifEquals this 'sticky-dark'}}is-sticky is-dark{{/ifEquals}}'>
    <a class="site-header" href="/">
        @@include("logo2.svg")
    </a>
    {{> base/nav }}
</header>

