<nav class="site-header__nav">
    <ul class="site-header__nav-list">
        <li class="site-header__nav-item">
            <a class="site-header__nav-link" href="https://expmag.com/category/culture/" target="_blank">Culture</a>
        </li>
        <li class="site-header__nav-item">
            <a class="site-header__nav-link" href="https://expmag.com/category/exploration/" target="_blank">Exploration</a>
        </li>
        <li class="site-header__nav-item">
            <a class="site-header__nav-link" href="https://expmag.com/category/tech-life/" target="_blank">Tech + Life</a>
        </li>
        <li class="site-header__nav-item">
            <a class="site-header__nav-link" href="https://expmag.com/category/future-of/" target="_blank">Future Of</a>
        </li>
        <li class="site-header__nav-item">
            <a class="site-header__nav-link" href="https://expmag.com/about/" target="_blank">About</a>
        </li>
    </ul>
</nav>
<button class="site-menu__btn btn--secondary" type="button" data-menu-button>
    @@include("menu.svg")
    @@include("close.svg")
</button>


<section class="site-menu site-about" data-menu-section>
    <div class="site-menu__item site-about__item site-about__copy">

    </div>
    <nav class="site-menu__item site-about__item site-menu__nav">
        <div class="site-about__inner">
            <!--<p class="overline--min">Explore</p>-->
            <ul class="site-about__list">
                <li class="site-about__list-item">
                    <a class="site-about__link" href="https://expmag.com/category/culture/" target="_blank" data-menu-link>Culture</a>
                    <!--<p class="site-about__link-copy">Various Experience</p>-->
                </li>
            </ul>
            <ul class="site-about__list">
                <li class="site-about__list-item">
                    <a class="site-about__link" href="https://expmag.com/category/exploration/" target="_blank" data-menu-link>Exploration</a>
                    <!--<p class="site-about__link-copy">People, Trends, tales</p>-->
                </li>
            </ul>
            <ul class="site-about__list">
                <li class="site-about__list-item">
                    <a class="site-about__link" href="https://expmag.com/category/tech-life/" target="_blank" data-menu-link>Tech + Life</a>
                    <!--<p class="site-about__link-copy">People, Trends, tales</p>-->
                </li>
            </ul>
            <ul class="site-about__list">
                <li class="site-about__list-item">
                    <a class="site-about__link" href="https://expmag.com/category/future-of/" target="_blank" data-menu-link>Future Of</a>
                    <!--<p class="site-about__link-copy">People, Trends, tales</p>-->
                </li>
            </ul>
            <ul class="site-about__list">
                <li class="site-about__list-item">
                    <a class="site-about__link" href="https://expmag.com/about/" target="_blank"  data-menu-link>About</a>
                    <!--<p class="site-about__link-copy">People, Trends, tales</p>-->
                </li>
            </ul>
        </div>
    </nav>
</section>
