<nav class="site-header__nav">
    <ul class="site-header__nav-list">
        <li class="site-header__nav-item">
            <a class="site-header__nav-link" href="https://expmag.com/category/first-person/" target="_blank">First Person</a>
        </li>
        <li class="site-header__nav-item">
            <a class="site-header__nav-link" href="https://expmag.com/category/ideas/" target="_blank">Ideas</a>
        </li>
        <li class="site-header__nav-item">
            <a class="site-header__nav-link" href="https://expmag.com/category/in-the-news/" target="_blank">In the News</a>
        </li>
        <li class="site-header__nav-item">
            <a class="site-header__nav-link" href="https://expmag.com/about/" target="_blank">About</a>
        </li>
    </ul>
</nav>
<button class="site-menu__btn btn--secondary" type="button" data-menu-button>
    @@include("menu.svg")
    @@include("close.svg")
</button>


<section class="site-menu site-about" data-menu-section>
    <div class="site-menu__item site-about__item site-about__copy">

    </div>
    <nav class="site-menu__item site-about__item site-menu__nav">
        <div class="site-about__inner">
            <!--<p class="overline--min">Explore</p>-->
            <ul class="site-about__list">
                <li class="site-about__list-item">
                    <a class="site-about__link" href="https://expmag.com/category/first-person/" target="_blank" data-menu-link>First Person</a>
                    <!--<p class="site-about__link-copy">Various Experience</p>-->
                </li>
            </ul>
            <ul class="site-about__list">
                <li class="site-about__list-item">
                    <a class="site-about__link" href="https://expmag.com/category/ideas/" target="_blank" data-menu-link>Ideas</a>
                    <!--<p class="site-about__link-copy">People, Trends, tales</p>-->
                </li>
            </ul>
            <ul class="site-about__list">
                <li class="site-about__list-item">
                    <a class="site-about__link" href="https://expmag.com/in-the-news" target="_blank" data-menu-link>In the news</a>
                    <!--<p class="site-about__link-copy">People, Trends, tales</p>-->
                </li>
            </ul>
            <ul class="site-about__list">
                <li class="site-about__list-item">
                    <a class="site-about__link" href="https://expmag.com/about/" target="_blank"  data-menu-link>About</a>
                    <!--<p class="site-about__link-copy">People, Trends, tales</p>-->
                </li>
            </ul>
        </div>
    </nav>
</section>