<footer class="card--footer">
    <div class="inner--footer">
        <small>&copy;2018 <a href="https://www.northeastern.edu/">Northeastern University</a></small>
        <ul class="site-footer__social">
            <li>
                <a href="https://www.instagram.com/expmag/" target="_blank">@@include("instagram.svg")</a>
                <!--<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fexpmag.com%2F2018%2F08%2Fmind-over-water" target="_blank">@@include("instagram.svg")</a>-->
            </li>
            <li>
                <a href="https://twitter.com/exp_mag" target="_blank">@@include("twitter.svg")</a>
            </li>
            <li>
                <a href="https://www.facebook.com/ExperienceReads/" target="_blank">@@include("facebook.svg")</a>
            </li>
        </ul>
    </div>
</footer>